
main{
    text-align: center;
}

#calculadora{
    display: flex;
    justify-content: center;
}
#formulario{
    width: 50%;
    padding: 40px 70px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
.numeros{
    display: flex;
    justify-content: center;
    gap: 40px;
}
#valor1,#valor2{
    width: 200px;
}
#botones{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button{
    width: 150px;
    background-color: rgb(38, 38, 156);
    color: rgb(242, 242, 243);
    border-color: rgb(109, 107, 199);
    border-radius: 20px;
    padding: 20px;
}
#resultado{
    margin-top: 40px;
    color: black;
    font-size: 40px;
    text-align: center;
}